<main class="about">
    <h1 id="circle"><%= image_tag "localizacao.png", class: "img_sticker tilt-in-bl"%> VIVA AVENTURAS INCRÍVEIS !</h1>
</main>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0 portfolio">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                            <%= image_tag "Cachoeira-Jamil_thumb.jpg", class: "img-fluid"%>
                            <div class="portfolio-box-caption">
                                <div class="project-name">Cachoeira do Jamil</div>
                            </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                            <%= image_tag "holambra_thumb.jpg", class: "img-fluid"%>
                            <div class="portfolio-box-caption">
                                <div class="project-name">Holambra</div>
                            </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                            <%= image_tag "pelourinho_thumb.jpg", class: "img-fluid"%>
                            <div class="portfolio-box-caption">
                                <div class="project-name">Pelourinho</div>
                            </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                            <%= image_tag "salvador_thumb.jpeg", class: "img-fluid"%>
                            <div class="portfolio-box-caption">
                                <div class="project-name">Salvador</div>
                            </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                            <%= image_tag "sroque_thumb.jpg", class: "img-fluid"%>
                            <div class="portfolio-box-caption">
                                <div class="project-name">São Roque</div>
                            </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                            <%= image_tag "sroque2_thumb.jpg", class: "img-fluid"%>
                            <div class="portfolio-box-caption p-3">
                                <div class="project-name">São Roque</div>
                            </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                            <%= image_tag "montanha.jpg", class: "img-fluid"%>
                            <div class="portfolio-box-caption">
                                <div class="project-name">Montanha</div>
                            </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                            <%= image_tag "machupichu.jpg", class: "img-fluid"%>
                            <div class="portfolio-box-caption">
                                <div class="project-name">Machupichu</div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <img src="https://www.onlygfx.com/wp-content/uploads/2021/07/paper-plane-10.png" alt="avião de papel" id="plane"  class="aviao load-hidden">
            </div>
<div class="letreiro letreiro_about">
    <h1>VIAGENS, TRILHAS E PASSEIOS SEM COMPLICAÇÃO !</h1>
    <h2>TEMOS GUIAS EXPERIENTES E EXPERTISE EM ROTEIROS DE TRILHA, TODOS OS NOSSOS PASSEIOS SÃO PREVIAMENTE INSPECIONADOS GARANTINDO TOTAL SEGURANÇA E DIVERSÃO,
    NOSSOS GUIAS SÃO CREDENCIADOS E TODAS NOSSAS VIAGENS SÃO CONTEMPLADAS PELO NOSSO SEGURO, ENTRE EM CONTATO E CONSULTE NOSSO CRONOGRAMA !</h2>
    <button type="button" class="btn btn-primary btn-lg"><img src="https://www.freepnglogos.com/uploads/whatsapp-logo-png-transparent-33.png" width="100" class="d-block mb-2 image_about" >MANDA UM ZAP</button>
</div>