<!DOCTYPE html>
<html>
  <head>
    <title>Stories</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
      ScrollReveal({ reset: true });
    </script>

  </head>

  <body>
  <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img src="https://svgsilh.com/svg/154918.svg" width="50" class="d-block mb-2" >
    <a class="navbar-brand" href="#">Tour Pirassema</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="home">Início</a>
        <a class="nav-link" href="about">Passeios</a>
        <a class="nav-link" href="contato">Contato</a>
      </div>
    </div>
  </div>
</nav>
    <%= yield %>
    <footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img src="https://svgsilh.com/svg/154918.svg" width="50" class="d-block mb-2" >
      <small class="d-block mb-3 text-muted">&copy; Tour Pirassema</small>
    </div>
    <div class="col-6 col-md">
      <h5>Passeios</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Fotos</a></li>
        <li><a class="link-secondary" href="#">Depoimentos</a></li>
        <li><a class="link-secondary" href="#">Cronograma</a></li>
        <li><a class="link-secondary" href="#">Fale com um guia</a></li>
        <li><a class="link-secondary" href="#">Dúvidas / Perguntas frequentes</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Recursos</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Negócios</a></li>
        <li><a class="link-secondary" href="#">Educação</a></li>
        <li><a class="link-secondary" href="#">Governo</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Sobre Nós</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Nosso time</a></li>
        <li><a class="link-secondary" href="#">Onde estamos</a></li>
        <li><a class="link-secondary" href="#">Como começamos / nossa história</a></li>
      </ul>
    </div>
  </div>
</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <script>
      ScrollReveal().reveal('#plane', { delay: 1000});
      ScrollReveal().reveal('.secao3', {duration: 5000});
      ScrollReveal().reveal('main', {duration: 4000});
      ScrollReveal().reveal('.letreiro_2', {duration: 5000});
      ScrollReveal().reveal('.secao_final', {duration: 5000});

    function scrollTrigger(selector, options = {}) {
      let els = document.querySelectorAll(selector)
      els = Array.from(els)
      els.forEach(el => {
        addObserver(el, options)
      })
    }
    function addObserver(el, options) {
      // Check if `IntersectionObserver` is supported
      if(!('IntersectionObserver' in window)) {
        // Simple fallback
        // The animation/callback will be called immediately so
        // the scroll animation doesn't happen on unsupported browsers
        if(options.cb){
          options.cb(el)
        } else{
          entry.target.classList.add('voar')
        }
        // We don't need to execute the rest of the code
        return
      }
      let observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
          if(entry.isIntersecting) {
            if(options.cb) {
              options.cb(el)
            } else{
              entry.target.classList.add('voar')
            }
            observer.unobserve(entry.target)
          }
        })
      }, options)
      observer.observe(el)
    }
    // Example usages:
    scrollTrigger('#plane', {
      rootMargin: '-50px',
    })
    </script>
  </body>
</html>
